{% extends 'ADLeBtsSioBundle:default:layout.html.twig' %}

    


{% block body %}<img src="{{ asset('bundles/adlebtssio/images/logosup.jpg')  }}" alt="laura" width="198" height="200" /><h1>Bienvenue, Welcome </h1>{% endblock %}
 
 {% block sidebar %}Voici la sidebar vanant de la page Config{% endblock %}
 
 {% block footer %}
    Alexis DROMBRY 2017 - BTS SIO 2 Baudimont St Charles Arras <a href="https://github.com/alexisdrombry">Git Hub</a>
 {% endblock %}